[submodule "Dependencies/AntilatencySDK.Cmake/AntilatencySDK"]
	path = Dependencies/AntilatencySDK.Cmake/AntilatencySDK
	url = https://github.com/AntilatencySDK/Release_4.5.0.git
[submodule "Dependencies/CLI11"]
	path = Dependencies/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "Dependencies/json"]
	path = Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Dependencies/csv2"]
	path = Dependencies/csv2
	url = https://github.com/p-ranav/csv2.git
